@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__img
        height: 100%
        object-fit: cover
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 48px
    &-menu
      padding: 19px 14px 23px 14px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .rating
    margin-bottom: 1px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &-slider
      width: 100%
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
  .offer
    padding: 4px 9px 3px 9px
  .booking
    width: 340px
    padding: 29px 22px 22px 23px
  .map
    width: 340px
    height: 210px
  .newsletter
    padding: 72px 0 73px 0
  .reviews
    padding: 15px 0 70px 0
    &-slider
      &__item
        padding: 0 59px 30px 64px
        max-width: 580px
      &__button
        top: 50%
        &--prev
          left: 0
        &--next
          right: 0
    &-title
      font-size: 30px
      line-height: 38px
    &__title
      margin-bottom: 50px
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 88%
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      padding-top: 24px
      padding-bottom: 28px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
    margin-right: 14px
  .hotel
    padding-top: 3px
    padding-bottom: 41px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      padding-bottom: 38px
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-top: 1px
        margin-left: 2px
    &-slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 402px
  .booking
    width: 100%
    &__num
      margin-right: 4px
  .map
    width: 100%
    height: 172px
  .offer
    padding: 4px 9px 3px 10px
  .newsletter
    padding: 59px 0 83px 0
    &:before
      height: 319px
    &-wrapper
      max-width: 576px
      width: 88%
      flex-direction: column
      align-items: flex-start
    &-title
      &__strong
        font-style: normal
        font-weight: 600
        font-size: 30px
        line-height: 38px
        margin-top: 5px
    &__title
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px
    &__subscribe
      margin-top: 21px
  .subscribe__input
    padding-left: 21px
  .reviews
    padding: 25px 0 70px 0
    &-title
      font-size: 18px
      line-height: 23px
    &__title
      padding: 0 10px 0 10px
      margin-bottom: 41px
    &-slider
      &__item
        padding: 0 30px 36px 32px
        &:after, &:before
          display: none
      &__profile
        margin-right: 6px
      &__text
        text-align: left
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -92px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -88px
          transform: translate(50%, 0)
@media (max-width: 576px)
  .logo
    width: 99px
  .hotel
    &-slider
      height: 179px
    &__slider
      margin-bottom: 20px
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
